html *
{
  font-family: Verdana !important;
}
.navbar-custom {
  background-color: #522D80; 
  box-shadow: 0 20px 20px rgba(0,0,0,0.1), inset 0 5px 5px rgba(0,0,0,0.1);
}
.nav-item .nav-link {
  color: rgb(255, 255, 255);
}
.nav-item:hover .nav-link {
  color: rgb(175, 175, 175);
}
.navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: rgb(0, 0, 0);
}
.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: rgb(75, 75, 75);
}
.spacer-sm{
  height: 20px;
}
.spacer-md{
  height: 40px;
}
.spacer-lg{
  height: 60px;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 60px;    /* Footer height */
}
.footer{
  position: absolute;
  bottom: 0;
  left:0;
  height: 60px;
  background-color: rgb(200, 200, 200);
}
.vertical-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.img-flip{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.img-link:hover{
  opacity: 0.75;
}